/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Set height of html and body elements to 100% */
html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
}


/* Header styles */
header {
  position: fixed; /* Bring back position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Transparent header */
header.transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.imagelogo {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.logo {
  font-weight: 700;
  text-decoration: none;
  color: #333;
}

/* Desktop menu styles */
.menu {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.menu li {
  margin-left: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Mobile menu styles */
.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 1rem;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 16px;
  cursor: pointer;
}

.hamburger-menu span {
  height: 2px;
  background-color: #333;
}

/* Footer styles */
footer {
  position: fixed; /* Add position: fixed; */
  bottom: 0; /* Add bottom: 0; */
  left: 0; /* Add left: 0; */
  right: 0; /* Add right: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f8f8f8;
  z-index: 1000; /* Ensure footer is on top of other content */
}


.social-icons {
  display: flex;
  margin-bottom: 1rem;
}

.social-icons a {
  margin: 0 0.5rem;
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #666;
}

footer p {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

/* Main content styles */
main {
  padding-top: 0rem; /* Adjust the value based on the height of your header */
  padding-bottom: 2rem;
  flex-grow: 1; /* Make main take up available vertical space */
  margin-bottom: 5rem; /* Add margin-bottom equal to the height of the footer */
}

/* General section styling */
section {
  width: 100vw; /* Set section width to 100% of the viewport width */
  height: 100vh; /* Set section height to 100% of the viewport height */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack flex items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: top; /* Center items vertically */
  padding-top: 9rem;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  transition: background-color 3s ease-in-out;
}

/* Add alternating background colors */
section:nth-child(odd) {
  background-image: linear-gradient(to bottom, #ffffff 10%, #f8f8f8 90%);
}

section:nth-child(even) {
  background-image: linear-gradient(to bottom, #f0efef 25%, #f8f8f8 75%);
}

/* Responsive section styling for smaller screens*/
@media screen and (max-height: 600px) {
section {
height: auto; /* Set section height to adjust automatically based on content */
min-height: 100vh; /* Set the minimum section height to 100% of the viewport height */
padding: 2rem; /* Add some padding to avoid content being too close to the edges */
}
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
.menu {
display: none;
}

.hamburger-menu {
display: flex;
}

.mobile-menu {
display: none;
position: absolute;
top: 100%;
right: 0;
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
list-style-type: none;
padding: 1rem;
}

.mobile-menu.show {
display: block;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.mobile-menu li {
  margin-left: 1.5rem;
}

.mobile-menu li {
margin-bottom: 1rem;
}
}


