---
import BaseLayout from '../layouts/BaseLayout.astro';
import { site } from '../config/site';
---

<BaseLayout>
  <h1>
    Welcome to my personal website<br />
    Check out <a href="/blog">{site.blogName}</a>
  </h1>
</BaseLayout>
