  h1 {
    font-size: 2em; /* Adjust the font size as needed */
  }

  h2 {
    font-size: 1.5em; /* Adjust the font size as needed */
  }

  h3 {
    font-size: 1.2em; /* Adjust the font size as needed */
  }
  
  .imagelogo {
    width: 30px;
    height: 30px;
    border-radius: 80px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  section {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .post-image {
    width: 100%; /* Adjust the width as needed */
    max-width: 300px; /* Set a max-width for large screens */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem 0;
  }

  .post-description {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    color: #666;
    max-width: 100%;
    text-align: justify;
  }

  img {
    width: 100%; /* Adjust the width as needed */
    max-width: 300px; /* Set a max-width for large screens */
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem 0;
  }
  
  ul {
    padding-left: 20px;
  }
  ol {
    padding-left: 20px;
  }